<h1>Welcome#index</h1>

<div class="inicio_ordenar">
	<%= link_to "Pasar a Ordenar", new_order_path %>
</div>

<div class="inicio_ordenar">
	<%= link_to "Programar Pedido", programar_pedido_path %>
</div>

<div class="inicio_ordenar">
	<%= link_to "Conocenos", welcome_aboutUs_path %>
</div>