body{background-color: #fff;}

.contenedor_principal{
	min-width: 500px;
	max-width: 1024px;
	min-height: 500px;
	border:1px solid #000;
	margin: 0 auto 0 auto;
}

h1{ font-size: 30px; 
    padding: 5px; }
h2{ font-size: 30px;
    padding: 5px;
    margin: 0;}
h3{ font-size: 20px;}
h4{ font-size: 20px; padding: 0; margin: 0 0 10px 0;}
h5{ font-size: 20px;}
h6{ font-size: 20px;}

table{	width: 90%; 
		text-align: center;
	  	margin: 0 auto 0 auto;}

thead{	background-color: #a3a3a3;
		color:#fff; }

.sombreado{
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
}