@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);

body{background-color: #fff;}

/* ------------ Banner -------------*/

#banner{
	width: 1400px;
	display: block;
	height: 160px;
	margin: 0 auto 0 auto;	
}

#banner .logo{
	width: 280px;
	height: 160px;
	float: left;
}

#banner .logo img{
	margin: 60px 0 60px 60px;
	padding-right:20px; 
	border-right: 2px solid #EEDAC6;
}

#banner .slogan{
	width: 500px;
	height: 160px;
	float: left;
} 

#banner .slogan p{
	font-size: 17px;
	margin-top:60px;
	margin-left: 20px;
	color: #644547;
	font-family: 'Roboto Slab', serif;
	font-weight: 700;	
}

#banner .cuenta{
	width: 620px;
	height: 40px;
	text-align: right;
	float: left;
}

#banner #menu_principal{
	width: 620px;
	height: 120px;
	float: left;	
}

#banner #menu_principal ul{
	width: 100%;
	height: 40px;
	margin-top: 20px; 
	list-style: none;
	text-align: right;
}

#banner #menu_principal ul li{
	min-width: 50px;
	width: 20%; 
	float: left;
	font-size: 17px;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;	
	color: #644547;	
	text-align: center;
}

#banner #menu_principal ul li:hover{
	font-family: 'Roboto Slab', serif;
	font-weight: 700;	
	color: #F19E74;	
	border-top: 2px solid #EEDAC6;
	text-align: center;	
}

#banner #menu_principal ul li a{
	text-decoration: none;
}

#banner #menu_principal ul li a:hover{
	text-decoration: none;
	background-color: transparent;
	color: #F19E74;		
}

/* ------------ Slider -------------*/

#slider{
	min-width: 500px;
	max-width: 1400px;	
	display: block;
	height: 500px;
	margin: 0 auto 0 auto;	
}

/* ------------ Contenido -------------*/

.contenedor_principal{
	width: 1396px;
	margin: 0 auto 0 auto;
	border-top: 2px solid #EEDAC6;	
	overflow: hidden;
}


/* ------------ Footer -------------*/

#footer{
	width: 1400px;	
	display: block;
	color: #FFF;
	background-color: #644547;
	height: 30px;
	margin: 0 auto 0 auto;	
}

#footer ul{
	list-style: none;
	display: block;
}

#footer ul li{
	width: 20%;
	margin-top:2px;
	float: left;
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;	
}

/* ------------ Otros -------------*/

h1{ font-size: 30px; 
    padding: 5px; }
h2{ font-size: 30px;
    padding: 5px;
    margin: 0;}
h3{ font-size: 30px;}
h4{ font-size: 20px; padding: 0; margin: 0 0 10px 0;}
h5{ font-size: 20px;}
h6{ font-size: 20px;}

table{	width: 90%; 
		text-align: center;
	  	margin: 0 auto 0 auto;}

thead{	background-color: #a3a3a3;
		color:#fff; }

.sombreado{
  -webkit-box-shadow: 2px 2px 5px #999;
  -moz-box-shadow: 2px 2px 5px #999;
}

#seleccionado{
	border-top: 2px solid #EEDAC6;
}

.borde_generico{
	border: 2px solid #EEDAC6;
}

/*------------------------------------*/
/*-------ESTILO PARA IPHONE ----------*/
/*------------------------------------*/

@media (min-width: 320px) and (max-width: 400px) {

	body{
		margin: 0px;
		padding: 0px;
		background-color: #644547;
	}

	#banner{ display: none;}
	#footer{ display: none;}

	/* ------------ Slider -------------*/

	#slider{
		min-width: 320px;
		max-width: 400px;
		height: 200px;
		display: block;
		margin: 0 auto 0 auto;	
		overflow: hidden;
	}

	/* ------------ Contenido -------------*/

	.contenedor_principal{
		width: 100%;
		min-height: 540px;
		margin: 0 auto 0 auto;
		border-top: 2px solid #EEDAC6;	
	}

}

/*------------------------------------*/
/*-------ESTILO PARA IPHONE ----------*/
/*------------------------------------*/

@media (min-width: 401px) and (max-width: 640px) {

	body{
		margin: 0px;
		padding: 0px;
		background-color: #644547;
	}

	#banner{ display: none;}
	#footer{ display: none;}

	/* ------------ Slider -------------*/

	#slider{
		min-width: 401px;
		max-width: 640px;
		height: 250px;
		display: block;
		margin: 0 auto 0 auto;	
		overflow: hidden;
	}

	/* ------------ Contenido -------------*/

	.contenedor_principal{
		width: 100%;
		min-height: 540px;
		margin: 0 auto 0 auto;
		border-top: 2px solid #EEDAC6;	
	}

}

/*------------------------------------*/
/*-------ESTILO PARA IPHONE ----------*/
/*------------------------------------*/

@media (min-width: 641px) and (max-width: 960px) {

	body{
		margin: 0px;
		padding: 0px;
		background-color: #fff;
	}


	/* ------------ Banner -------------*/

	#banner{
		min-width: 641px;
		max-width: 960px;
		display: block;
		height: 90px;
		margin: 0 auto 0 auto;	
	}

	#banner .logo{
		width: 250px;
		height: 90px;
		float: left;
	}

	#banner .logo img{
		margin: 30px 0 30px 10px;
		padding-right:20px; 
		border-right: 2px solid #EEDAC6;
	}

	#banner .slogan,
	#banner .slogan p{
		display: none;
	} 

	#banner .cuenta{
		width: 360px;
		height: 40px;
		text-align: right;
		float: right;
		padding-right: 10px;
		position: relative;

	}

	#banner #menu_principal{
		width: 360px;
		min-width: 250px;
		max-width: 100%;
		height: 50px;
		float: right;	
		padding-right: 10px;
		position: relative;
	}

	#banner #menu_principal ul{
		width: 360px;
		height: 40px;
		margin-top: 0px; 
		list-style: none;
		text-align: right;
		margin-left: -50px;
	}

	#banner #menu_principal ul li{
		float: left;
		font-size: 15px;
		font-family: 'Roboto Slab', serif;
		font-weight: 400;	
		color: #644547;	
		text-align: center;
		padding-right: 16px;
	}

	#banner #menu_principal ul li:hover{
		font-family: 'Roboto Slab', serif;
		font-weight: 700;	
		color: #F19E74;	
		border-top: 2px solid #EEDAC6;
		text-align: center;	
	}

	#banner #menu_principal ul li a{
		text-decoration: none;
	}

	#banner #menu_principal ul li a:hover{
		text-decoration: none;
		background-color: transparent;
		color: #F19E74;		
	}

	/* ------------ Slider -------------*/

	#slider{
		min-width: 641px;
		max-width: 960px;
		height: 250px;
		display: block;
		margin: 0 auto 0 auto;	
		overflow: hidden;
	}

	/* ------------ Contenido -------------*/

	.contenedor_principal{
		width: 100%;
		min-height: 540px;
		margin: 0 auto 0 auto;
		border-top: 2px solid #EEDAC6;	
	}

}