// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//estilo de las cajas de texto en el formulario de orden
.articulos{
	width: 30px;
}
//estilo de las imagenes de articulos en el formulario de orden
.articulos_img{
	width: 100px;
	height: 100px;
}