// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//estilo botones caja mostrar
.cintilla_pedidos{
	min-width: 500px;
	max-width: 950px;
	height: 30px;
	background-color: #b3b3b3; 
	padding: 5px;
	text-align: left;
	margin: 10px auto 10px auto;
}

.cintilla_pedidos img{
    float: right;
    margin: -24px 0 10px 0;
    padding: 5px;
}

//estilo de las cajas de texto en el formulario de orden
.articulos{
	width: 30px;
}
//estilo de las imagenes de articulos en el formulario de orden
.articulos_img{
	width: 100px;
	height: 100px;
}