<div id="banner">
	<div class="logo"><img src="/images/logo.png"></div>
	<div class="slogan">
		<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit"</p>	
	</div>
	<div class="menu"></div>		
<%= link_to "SALIR",logout_path , method: :delete %>
</div>